*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body{
    font-size: 16px;
    text-align: center;
    color: rgb(0, 255, 242);
}



.big-container{
    display: block;
}

.main-nav{
    height: 5vh;
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 255, 242);
}

.nav-link{
    margin: auto;
    text-decoration: none;
    color: black;
    transition: border-bottom 0.4;
}


.nav-link:hover{
    border-bottom: 2.5px solid black;
}



.container{
    display: flex;
}

.item{
    width: 100%;
}

.intro{
    display: inline-block;
    position: relative;
    height: 95vh;
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,.8)), url(img/background-img.jpg);
    background-size: cover;
}

.personal-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2em;
}

.works{
    width: 20vw;
    background-color: gray;
    display: flex;
    flex-flow: row wrap;
}

.work{
    background-color: red;
    margin: 0.5em;
    width: 100%;
    position: relative;
}

.work p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}